---
# tasks file for winehq
- name: Install Block
  tags:
    - winehq
  block:
    - name: Install preparation packages
      ansible.builtin.package:
        name:
          - gpg-agent
        state: present

    - name: Create Keyrings dir on remote host if it does not exist
      ansible.builtin.file:
        path: "/etc/apt/keyrings"
        state: directory
        owner: "root"
        group: "root"
        mode: '0755'

    - name: Add WineHQ GPG repository key
      ansible.builtin.apt_key:
        url: "https://dl.winehq.org/wine-builds/winehq.key"
        keyring: "/etc/apt/keyrings/winehq-archive.key"

    - name: Add WineHQ repository
      become: true
      ansible.builtin.get_url:
        url: "https://dl.winehq.org/wine-builds/{{ ansible_facts['distribution'] | lower }}/dists/{{ ansible_facts['distribution_release'] }}/winehq-{{ ansible_facts['distribution_release'] }}.sources"
        dest: /etc/apt/sources.list.d/winehq-{{ ansible_facts['distribution_release'] }}.sources
        owner: "root"
        group: "root"
        mode: '0644'
        timeout: 60

    - name: Check if i386 is enabled
      # shell because the ansible.builtin.dpkg_selections command does only support selection in Ansible. And command does not allow piping
      ansible.builtin.shell:
        cmd: dpkg --print-foreign-architectures | grep i386
      register: result_i386_check
      changed_when: result_i386_check.rc == 1
      failed_when: result_i386_check.rc > 1
      when: ansible_facts['architecture'] == "x86_64"

    - name: Enable i386 architecture
      # command because the ansible.builtin.dpkg_selections command does only support selection in Ansible.
      ansible.builtin.command:
        cmd: dpkg --add-architecture i386
      register: add_architecture_output
      changed_when: add_architecture_output.rc != 0
      when: result_i386_check.rc != 0

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 0
      when: add_architecture_output and ansible_facts['os_family'] == "Debian"

    - name: Install WineHQ Stable
      ansible.builtin.package:
        name:
          - winehq-stable
        state: present
      when: not winehq.use_staging | bool and not winehq.use_devel | bool and ansible_facts['distribution_major_version'] | int < 24

    - name: Install WineHQ Staging
      ansible.builtin.package:
        name:
          - winehq-staging
        state: present
      when: (winehq.use_staging | bool and not winehq.use_devel | bool) or ansible_facts['distribution_major_version'] | int >= 24

    - name: Install WineHQ Devel
      ansible.builtin.package:
        name:
          - winehq-devel
        state: present
      when: winehq.use_devel | bool and not winehq.use_staging | bool

    - name: Install PlayOnLinux
      ansible.builtin.package:
        name:
          - playonlinux
        state: present
      when: winehq.install_playonlinux | bool

    - name: Install Winetricks
      ansible.builtin.get_url:
        url: "https://raw.githubusercontent.com/Winetricks/winetricks/master/src/winetricks"
        dest: /usr/bin/winetricks
        timeout: 60
        owner: "root"
        group: "root"
        mode: '0755'
      when: winehq.install_winetricks | bool

    # - name: Install Winetricks packages
    #   as the user needs to accept licenses manually, this task is disabled
    #   become: true
    #   become_user: "{{ ansible_facts['user'] }}"
    #   ansible.builtin.command:
    #     cmd: "winetricks corefonts vcrun6 dotnet20"
    #   ignore_errors: true
    #   when: winehq.install_winetricks
